
.box1, .box2, .box4{
    color: white;
}
.box1, .box2{
    grid-row: 1/2;
}
.box3, .box4{
    grid-row: 2/3;
}
.box1{
    background-color: blueviolet;
    grid-column: span 2;
}
.box2{
    background-color: gray;
}
.box3{
    background-color: white;
}
.box4{
    background-color: black;
    grid-column: span 2;
}
.box5{
    background-color: wheat;
    grid-column: 4/5;
    grid-row: span 2;
}
.container{
    display: grid;
    grid-template-columns: auto minmax(300px, 1fr);
    align-self: center;
    width: 70%;
}